body{
    font-family: 'Raleway', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.header__nav{
    background: #222222;
    display: flex;
    height: 8vh;
    padding: 10px;
}

.nav__ul{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.nav__ul--li a{
    padding: 0 10px;
    text-decoration: none;
    color: aliceblue;
    border-bottom: solid 2px #3FCAA5;
    transition: font-size .6s;
}

.nav__ul--li a:hover{
    font-size:25px;
}

.Contenedor_main{
    background: #3FCAA5;
    display: flex;
    height: 90vh;
    background-image: url("https://wallpapercrafter.com/desktop/11893-forest-trees-trail-turn-vegetation-4k.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.div__h1{
    color: #ffffff;
    text-align: center;
    margin: 10px;
    font-size: 50px;
    user-select: none;
}
.div__h1 b{
    color: #3FCAA5;
    width: 60vh;
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    transition-property: font-size , color;
    transition-duration: .5s;
    user-select: none;
}

.div__h1 b:hover{
    font-size: 60px;
    color: #00ffbb;
}

.div__h3{
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 13px;
    font-style: italic;
    user-select: none;
    
}

.contenedorinfo{
    background: #222222;
    padding: 30px;
    display: flex;
    height: 100vh;
}
.contenedorinfo__aside{
    border-right: 3px solid #3FCAA5 ;
    padding: 30px 0;
    padding: 20px;
    display: flex;
    align-items: center;
}
.contenedorinfo__aside img{
    border-radius: 20px;
    border-bottom: 3px solid #257560;
}

.contenedorinfo__div--main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    
}
.contenedorinfo__div{
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedorinfo__div--h2{
    color: #3FCAA5;
    font-size: 40px;
    margin-bottom: 70px;
    user-select: none;
}

.contenedorinfo__div--p{
    align-self: center;
    max-width:700px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #ffffff;
}
.contenedorinfo__div--h3{
    color: #3FCAA5;
    font-size: 40px;
    flex-grow: 1;
    margin-bottom: 70px;
    user-select: none;
}
.div__ul--li{
    color: #ffffff;
}
.contenedorinfo__div--div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.div__div1--ul{
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}
.div__div2--ul{
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}

.Contenedor_portafolio{
    background: #3FCAA5;
    display: flex;
    flex-direction: column;
    height: auto;
}

.Contenedor_portafolio--h3{
    font-size: 50px;
    color: #222222;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Contenedor_portafolio--h3 h3{
    border-bottom: 4px solid #222222;
    padding: 0 40px;
    text-align: center;
    user-select: none;
}

.Contenedor_portafolio--img{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content:space-around ;
    margin-bottom: 80px;
    align-items: center;
}
.div_Img{
    display: flex;
    flex-grow: 1;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    background:  #222222;
    border-radius: 20px;
    margin: 10px;
    transition: background .6s;
}
.div_Img:hover{
    background: #373636;
}
.div_Img a{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 60px;
    user-select: none;
    transition: font-size .6s;
    text-decoration: none;
}
.div_Img a:hover{
    font-size: 35px;
    
}
.div__img{
    width: 400px;
    height: 300px;
    margin: 10px;
    flex-grow: 1;
    border-radius: 30px;
    object-fit: cover;
    max-width: 700px;
    padding: 20px;
}

.contenedorform{
    background-image: url("https://i.pinimg.com/originals/b9/1e/f6/b91ef686bde789f0b4540468c07e5a0b.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.contenedorform__form{
    background: #3FCAA5;
    padding: 30px;
    display: flex;
    height: 60vh;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.contenedorform__form input{
    color: #000000;
    width: 400px;
    margin: 6px 0;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.form__textarea{
    text-align: center;
    height: 100px;
    width: 400px;
    margin: 6px 0;
    border-radius: 10px;
    border: none;
    color: #000000;
    align-self: center;
    resize: none;
}

.form__button{
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #222222;
    color: #ffffff;
    transition: background .4s;
}

.form__button:hover{
    background: #313030;
}

.form__h4{
    font-size: 45px;
    margin-bottom: 30px;
    color: #222222;
    user-select: none;
}

footer{
    background: #222222;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_p{
    color:#ffffff;
    text-align: center;

}

@media only screen and (max-width:970px ) {
    .contenedorinfo__aside{
        width: 1px;
        height: 1px;
        padding: 0;
        margin: 0;
        border: none;
        opacity: 0;
        user-select: none;
    }

    .contenedorinfo__div--h2{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .contenedorinfo__div--h3{
        font-size: 30px;
        margin-bottom: 10px;
        
    }

    .contenedorinfo__div--p{
        font-size: 15px;
    }

    .div__div1--ul{
        font-size: 15px;
        height: auto;
    }
    .div__div2--ul{
        font-size: 15px;
        height: auto;
    }

    .Contenedor_portafolio--h3{
        font-size: 30px;
    }

    .nav__ul--li a{
        font-size: 13px;
    }
    .nav__ul--li a:hover{
        font-size: 13px;
    }
    .div_Img{
        max-width: 450px;
    }
    @media only screen and (max-width:500px){

        .div__h1{
            font-size: 30px;
        }

        .main__div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .div__h3{
            max-width: 160px;
            text-align: center;
        }
        .div__h1 b{
            font-size: 30px;
        }
        .nav__ul--li a{
            font-size: 13px;
        }
        .nav__ul--li a:hover{
            font-size: 13px;
        }
        .div_Img a{
            font-size: 20px
        }

        .div_Img a:hover{
            font-size: 23px;
        }
        
        .div__img{
            width: 250px;
            height: 150px;
        }

        .contenedorform__form input{
            width: 250px;
        }

        .form__textarea{
            width: 250px;
        }
        @media only screen and (max-width:400px){
            .contenedorinfo__div--h2{
                font-size: 25px;
            }
            .contenedorinfo__div--h3{
                font-size: 25px;
            }
            .contenedorinfo__div--p{
                font-size: 13px;
            }
            .div__div1--ul{
                font-size: 13px;
                margin: 0;
                padding: 0%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .div__div2--ul{
                font-size: 13px;
                margin: 0;
                padding: 0%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .contenedorinfo__div--div{
                display: flex;
                flex-direction: column;
            }
            .contenedorform__form input{
                width: 200px;
            }
    
            .form__textarea{
                width: 200px;
            }
            .form__h4{
                font-size: 30px;
            }
            .nav__ul--li a{
                font-size: 10px;
            }
            .nav__ul--li a:hover{
                font-size: 10px;
            }
        }
    }
}
